<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/style_account.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <title>Login</title>
</head>
<body>
    <form action="">
        <div class="the_box">
            <h3>Login to Your Account</h3>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit"><b>Login</b></button>

            <a class="psw" href="#">Forgot Password?</a>

            <p>Not Registered? <a class="create_acc"href="register">Create One</a></p>

            <button type="button" class="google-btn">
                <div class="google-icon-wrapper">
                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                </div>
                <p class="btn-text"><b>Continue with Google</b></p>
            </button>
              

        </div>
    </form>
</body>
</html>