<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../static/style_account.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
        <title>Register</title>
</head>
<body>
        <form action="">
                <div class="the_box">
                        <h3>Please Create an Account</h3>
                        <label for="full-name"><b>Full Name</b></label>
                        <input type="text" placeholder="Enter Full Name" name="full-name" required>

                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>

                        <label for="e-mail"><b>Email</b></label>
                        <input type="email" placeholder="Enter email" name="e-mail" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <label for="co-psw"><b>Confirm Password</b></label>
                        <input type="password" placeholder="Enter Co-Password" name="co-psw" required>

                        <button type="submit"><b>Sign Up</b></button>

                        <p>Already has an account? <a href="login">Login</a></p>

                        <button type="button" class="google-btn">
                                <div class="google-icon-wrapper">
                                  <img class="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
                                </div>
                                <p class="btn-text"><b>Continue with Google</b></p>
                        </button>

                </div>
        </form>
        
</body>
</html>