<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% load static %}
{% load custom_filters%}
<body>
    <div class="header">
        <a href="home" class="logo"><img src="../static/image/logo_protel.png" alt=""></a>
        <a href="home">Home</a>
        <a href="gallery">Gallery</a>
        <a class="active" href="assets">Assets</a>
        <div class="header-right">
            <a href="./accounts/login">
                <i class ="fa fa-fw fa-user" style="color: white;"></i>Login</a>
        </div>
    </div>
    <div>
        <h1>Assets</h1>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <div>
        <div class="list_assets">
            {% for object in objects %}
            <div class="asset-item">
                <img src="{{object.image.url}}" alt="Uploaded image" >
                <p class="image-name">{{ object.image.name|basename }}</p>
            </div>
                
            {% endfor %}
        </div>
    </div>




    <!-- Footer -->
    <div class="footer">
        <p>Copyright <i class="fa fa-copyright"></i> ProtelSolidPerjuangan</p>
    </div>
    
</body>
</html>