<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://kit.fontawesome.com/a076d05399.js"> -->
    <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
    <script type="importmap">
    {
        "imports": {
        "three": "https://unpkg.com/three@v0.153.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@v0.153.0/examples/jsm/"
        }
    }
    </script>
    <style>
        
        </style>
</head>
{% load static %}
{% load custom_filters%}
<body>
    <div class="header">
        <a href="home" class="logo"><img src="../static/image/logo_protel.png" alt=""></a>
        <a href="home">Home</a>
        <a href="gallery">Gallery</a>
        <a class="active" href="assets">Assets</a>
        <div class="header-right">
            <a href="./accounts/login">
                <i class ="fa fa-fw fa-user" style="color: white;"></i>Login</a>
        </div>
    </div>
<div class="main-container">
    
    <div>
        <h1>Assets</h1>
    </div>

    <form method="post" enctype="multipart/form-data" class="custom-upload-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="upload_file">Upload 3D Model</button>
    </form>

<div class="object-container">
    {% for object in objects %}
    <div class="object-box">
        <div class="model-display"  id="{{object.id}}">
            <script type="module">
                // console.log('load {{ object.file_3d.url }}');
                import { loadModel } from '../../static/js/viewerAssets.js';
                loadModel('{{ object.file_3d.url }}', '{{object.id}}');
                // console.log('{{ object.id}}');
            </script>
        </div>
        <div class="model-label">
            <span class="filename">{{ object.file_3d.url|basename }}</span>
            <span class="size">Size = {{ object.size_x }}, {{ object.size_y }}, {{ object.size_z }}</span>
          </div>
        <div class="dropdown">
            <button onclick="myFunction('{{object.id}}')" class="dropbtn">...</button>
            <div id="dropdown-{{object.id}}" class="dropdown-content">
                <a href="{% url 'view' object.id %}" target="_blank">Lihat</a>
                <a href="{% url 'edit' object.id %}" target="_blank">Edit</a>
                <a href="{% url 'delete_object' object.id %}" onclick="return confirm('Yakin ingin menghapus?')">Hapus</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- dropdown content -->
<script>
    function myFunction(objectId) {
        document.getElementById("dropdown-" + objectId).classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>
<!-- end dropdown content -->

<!-- edit content -->
<script>
    function openForm(objectId) {
      document.getElementById("myForm-" + objectId).style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm-" + objectId).style.display = "none";
    }
</script>
<!-- end edit content -->
    <div class="footer">
        <p>Copyright <i class="fa fa-copyright"></i> ProtelSolidPerjuangan</p>
    </div>
    
</body>
</html>