<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assets</title>
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
{% load static %}
{% load custom_filters%}
<body>
    <div class="header">
        <a href="home" class="logo"><img src="../static/image/logo_protel.png" alt=""></a>
        <a href="home">Home</a>
        <a href="gallery">Gallery</a>
        <a class="active" href="assets">Assets</a>
        <div class="header-right">
            <a href="./accounts/login">
                <i class ="fa fa-fw fa-user" style="color: white;"></i>Login</a>
        </div>
    </div>
    <div>
        <h1>Assets</h1>
    </div>

    <form method="post" enctype="multipart/form-data" class="custom-upload-form">
        {% csrf_token %}
        {{ form.media }}
        <div>
            {{ form.model_obj.label_tag }} {{ form.model_obj }}
        </div>
        <button type="submit">Upload</button>
    </form>
    
    <table class="object-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama File</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ object.model_obj.url|basename }}</td>
                <td class="object-actions">
                    <!-- <a href="{% url 'view' object.id}" onclick="load3DObject('{{ object.model_obj.url }}')">Lihat OBJ</a> -->
                    <a href="{% url 'view' object.id %}" target="_blank">Lihat OBJ</a>
                    <a href="{% url 'delete_object' object.id %}" class="delete-action" onclick="return confirm('Yakin ingin menghapus?')">Hapus</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>



    <div class="footer">
        <p>Copyright <i class="fa fa-copyright"></i> ProtelSolidPerjuangan</p>
    </div>
    
</body>
</html>