<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Dream House</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <a href="home" class="logo"><img src="../static/image/logo_protel.png" alt=""></a>
        <a class="active" href="home">Home</a>
        <a href="gallery">Gallery</a>
        <a href="assets">Assets</a>
        <div class="header-right">
            <a href="./accounts/login">
                <i class ="fa fa-fw fa-user" style="color: white;"></i>Login</a>
        </div>
    </div>

    <!-- main  -->
    <div class="hero-image">
        <div class="hero-text">
            <h1>Virtual <br>
            Dream House</h1>
            <p>Virtual 3D Game Simulation to Design and Build Your Dream Home</p>
        </div>
        <button class="button">Download     <i class="fa fa-download"></i></button>
    </div>

    <div class="content-container">
        <div class="text">
            <h2>Features</h2>
            <p>Experience the sensation of designing rooms virtually using virtual reality technology</p>
        </div>
        <div class="image">
            <img src="../static/image/vr.jpg" alt="tes">
        </div>
    </div>

    <div class="content-container">
        <div class="text">
            <h2>Upload Assets</h2>
            <p>You can upload the assets in 3D format you want to use in the game through this website</p>
        </div>
        <div class="image">
            <img src="../static/image/retro-computer-desk-arrangement.jpg" alt="tes">
        </div>
    </div>

    <div class="content-container">
        <div class="text">
            <h2>Preview Your In Game Design</h2>
            <p>You can preview the designs you create in the game on the website</p>
        </div>
        <div class="image">
            <img src="../static/image/8525555.jpg" alt="tes">
        </div>
    </div>


    <!-- Footer -->
    <div class="footer">
        <p>Copyright <i class="fa fa-copyright"></i> ProtelSolidPerjuangan</p>
    </div>


</body>
</html>